$color-brand-darkblue: #2E2C3E;
$color-brand-darkblue-30: #787A88;
$color-brand-darkblue-10: #DFE6F0;

$color-brand-darkorange: #DB6C4C;

$color-brand-green: #189EA2;
$color-brand-green-70: #62A09E;
$color-brand-green-40: #7E9B99;

$color-white: #ffffff;
