@import 'normalize/import-now';
@import '_colors';
@import '_utils';
@import '_vertical-rhythm';
@import '_typography';

//max-width 1156/16 = 72rem

section .contents,
header .contents,
footer .contents {
  max-width: 72rem;
  margin: 0 auto;

  & > h2, & > h3 {
    text-align: center;
  }
}

header {

  nav ul {
    @include remove-bullets;    
  }

  nav a {
    color: $color-brand-green;
  }
}

footer {
  background-color: $color-brand-darkblue;
  color: $color-brand-darkblue-30;
  padding-top: baselineGridUnits(1);
  padding-bottom: baselineGridUnits(1);

  nav ul {
    @include remove-bullets;    
  }

  nav a {
    color: $color-white;
  }
}

section.headline {
  padding-top: baselineGridUnits(2);
  padding-bottom: baselineGridUnits(2);

  ul {
    @include remove-bullets;    
  }

  h2 {
    color: $color-brand-green;
  }
}

section.stats {
  background-color: $color-brand-darkblue-10;
  padding-top: baselineGridUnits(1);
  padding-bottom: baselineGridUnits(1);
  
  h2 {
    color: $color-brand-darkorange;
    text-transform: uppercase;
  }

  h3 {
    color: $color-brand-darkblue-30;
  }

  ul {
    @include remove-bullets;    
  }

  .percentage {
    color: $color-brand-green;
  }

  .description {
    color: $color-brand-darkblue-30;
  }

}

section.how-it-works {
  padding-top: baselineGridUnits(2);
  padding-bottom: baselineGridUnits(2);

  ul.three-steps {
    @include remove-bullets;

    width: 30%;

    li {
      color: $color-white;
      text-align: center;
      @include box-sizing-padding-fix;
      
      h3 {
        text-transform: uppercase;
      }
    }

    li.analyse {
      background-color: $color-brand-green-40;
    }

    li.strategy {
      background-color: $color-brand-green-70;
    }

    li.execution {
      background-color: $color-brand-green;
    }
  }

  ul.summary {
    @include remove-bullets;
    
    h3 {
      color: $color-brand-green;
    }
  }

}

section.service-details {
  padding-top: baselineGridUnits(2);
  padding-bottom: baselineGridUnits(2);

  ul {
    @include remove-bullets;

    h3 {
    color: $color-brand-green;
    }
  }
}