@import 'normalize/import-now';
@import '_colors';
@import '_utils';
@import '_vertical-rhythm';
@import '_grid';
@import '_typography';

section .contents,
header .contents,
footer .contents {
  max-width: $large-screen-breakpoint;

  margin-left: $grid-gutter-width;
  margin-right: $grid-gutter-width;
  
  @include small-screen-up {
    margin: 0 auto;
  }  

  & > h2, & > h3 {
    text-align: center;
  }
}

header {
  margin-top: baselineGridUnits(1);
  margin-bottom: baselineGridUnits(1);
  
  .contents {
    @include grid;
  }

  nav ul {
    @include remove-bullets;
    @include grid;
    margin-top: baselineGridUnits(1);

    li {
      text-align: center;
    }

    @include small-screen-up {
      li {
        text-align: right;
      }        
    }
  }

  nav a {
    color: $color-brand-green;
  }
}

footer {
  background-color: $color-brand-darkblue;
  color: $color-brand-darkblue-30;
  padding-top: baselineGridUnits(1);
  @include box-sizing-padding-fix;

  .menu-and-copyright {
    @include grid;
  }
  nav ul {
    @include remove-bullets;    
    @include grid;

    li {
      text-align: right;
    }
  }

  nav a {
    color: $color-white;
  }

  .registration-details {
    @include fitToBaselineGrid(-1);    
  }
}

section.hero {
  background-image: url(images/hero-background-medium.jpg);
  height: baselineGridUnits(23);

  h1 {
    padding-top: baselineGridUnits(9);
    color: $color-white;

    @include small-screen-up {
      width: grid-width(6);
      @include grid-offset(1, 0);
    }
  }
}

section.headline {
  padding-top: baselineGridUnits(2);
  padding-bottom: baselineGridUnits(2);

  h2 {
    @include grid-offset(2, 2);
  }

  ul {
    @include remove-bullets;
    @include grid;

    li {
      margin-bottom: 0;
    }

    @include small-screen-up {      
      li {
        margin-bottom: baselineGridUnits(1);
      }
      li:first-child {
        @include grid-offset(2,0);
      }

      li:last-child {
        @include grid-offset(0,2);
      }
    }
  }

  h2 {
    color: $color-brand-green;
  }
}

section.stats {
  background-color: $color-brand-darkblue-10;
  padding-top: baselineGridUnits(1);
  padding-bottom: baselineGridUnits(1);
  
  h2 {
    color: $color-brand-darkorange;
    text-transform: uppercase;
    @include fitToBaselineGrid(1);
    margin-bottom: 0;
  }

  h3 {
    color: $color-brand-darkblue-30;
    @include fitToBaselineGrid(0);
  }

  ul {
    @include remove-bullets;    
    @include grid;    

    li {
      text-align: center;
    }

    li:first-child {
      @include grid-offset(2,0);
    }

    li:last-child {
      @include grid-offset(0,2);
    }

  }

  .percentage {
    color: $color-brand-green;
    @include fitToBaselineGrid(3);
    margin-bottom: 0;
  }

  .description {
    color: $color-brand-darkblue-30;
  }

}

section.stats1 {

  li.action-rates .percentage::after{
    content: url(images/stats-arrow-up.svg);
    margin-left: 0.5rem;
  }

  li.cpc .percentage::after{
    content: url(images/stats-arrow-down.svg);
    margin-left: 0.5rem;
  }
}

 section.stats2 {

  li.volume .percentage::after{
    content: url(images/stats-arrow-up.svg);
    margin-left: 0.5rem;
  }

  li.wasted-spend .percentage::after{
    content: url(images/stats-arrow-down.svg);
    margin-left: 0.5rem;
  }
}


section.how-it-works {
  padding-top: baselineGridUnits(2);
  padding-bottom: baselineGridUnits(1);

  ul.three-steps {
    @include remove-bullets;
    @include grid;    

    @include grid-offset(1, 1);
    
    li {
      color: $color-white;
      text-align: center;
      @include box-sizing-padding-fix;
      
      h3 {
        text-transform: uppercase;
      }
    }

    li.analyse {
      background-color: $color-brand-green-40;
    }

    li.strategy {
      background-color: $color-brand-green-70;
    }

    li.execution {
      background-color: $color-brand-green;
    }
  }

  ul.summary {
    @include remove-bullets;
    @include grid;          
    @include grid-offset(2, 2);
    
    li {
      flex: 0 1 grid-width(6); //TODO: doesn't work for nested grid units...
    }

    li:nth-child(odd) {
      margin-left: 0;
    }

    li:nth-child(even) {
      margin-left: 0;
    }

    li:last-child {
      margin-right: $grid-gutter-width / 2;
    }

    h3 {
      color: $color-brand-green;
    }
  }

}

section.service-details {
  padding-top: baselineGridUnits(2);
  padding-bottom: baselineGridUnits(1);

  ul {
    @include remove-bullets;
    @include grid-offset(2, 2);
    
    li {
      @include grid;
    }

    h3 {
      color: $color-brand-green;
    }
  }

  .cta {
    text-align: center;
    @include grid-offset(2, 2);
    @include fitToBaselineGrid(1);
  }
}